@charset "UTF-8";

@font-face {
  font-family: PTSans;
  font-display: swap;
  src: url("../fonts/PTSans-Regular.woff2") format("woff2"), url("../fonts/PTSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: WorkSans;
  font-display: swap;
  src: url("../fonts/WorkSans-Black.woff2") format("woff2"), url("../fonts/WorkSans-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: WorkSans;
  font-display: swap;
  src: url("../fonts/WorkSans-Bold.woff2") format("woff2"), url("../fonts/WorkSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: WorkSans;
  font-display: swap;
  src: url("../fonts/WorkSans-ExtraLight.woff2") format("woff2"), url("../fonts/WorkSans-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: WorkSans;
  font-display: swap;
  src: url("../fonts/WorkSans-ExtraBold.woff2") format("woff2"), url("../fonts/WorkSans-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: WorkSans;
  font-display: swap;
  src: url("../fonts/WorkSans-Medium.woff2") format("woff2"), url("../fonts/WorkSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: WorkSans;
  font-display: swap;
  src: url("../fonts/WorkSans-SemiBold.woff2") format("woff2"), url("../fonts/WorkSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: WorkSans;
  font-display: swap;
  src: url("../fonts/WorkSans-Light.woff2") format("woff2"), url("../fonts/WorkSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: WorkSans;
  font-display: swap;
  src: url("../fonts/WorkSans-Regular.woff2") format("woff2"), url("../fonts/WorkSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: WorkSans;
  font-display: swap;
  src: url("../fonts/WorkSans-Thin.woff2") format("woff2"), url("../fonts/WorkSans-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

.selects {
  margin-top: 6px;
  display: flex;
}

.select-wrapper {
  margin-top: 5px;
  display: flex;
  align-items: center;
}

.select-wrapper2 {
  width: 60px;
  margin-right: 19px;
}

svg {
  z-index: -1;
  right: 0;
  bottom: 0;
  position: absolute;
}

.select-wrapper3 {
  width: 105px;
  margin-right: 17px;
}

.select-wrapper4 {
  width: 76px;
}

.select-wrapper,
.dropdownOption li {
  height: 30px;
}

.select-wrapper2,
.select-wrapper3,
.select-wrapper4 {
  border-bottom: 1px solid #e2e2e2;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  background: #F2F2F2;
  padding: 3px 0;
  height: 28px;
}

.dropholder {
  width: 100%;
  height: 100%;
  position: relative;
  box-sizing: border-box;
}

.holder {
  line-height: 16px;
  color: #111111;
  margin: 0;
}

.holder,
.dropdownOption li {
  font-size: 17px;
}

.dropdown {
  float: left;
  width: 100%;
  cursor: pointer;
  position: relative;
  box-sizing: border-box;
  z-index: 20;
}

.dropdown:after {
  content: "";
  width: 10px;
  height: 5px;
  font-size: 0px;
  position: absolute;
  right: -7px;
  top: 5px;
  display: block;
  background-image: url("../img/shape.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.dropdown.active+.dropdownOption {
  z-index: 999;
  display: block;
}

.select-wrapper2 .dropdown.active+.dropdownOption,
.select-wrapper3 .dropdown.active+.dropdownOption,
.select-wrapper4 .dropdown.active+.dropdownOption {
  display: flex;
  flex-wrap: wrap;
  width: 364px;
}

.select-wrapper2 .dropdownOption li,
.select-wrapper3 .dropdownOption li,
.select-wrapper4 .dropdownOption li {
  border: 1px solid #000;
}

.dropdown p {
  margin-bottom: 0 !important;
}

.dropdownOption {
  padding: 10px 0 0 0;
  position: absolute;
  left: 0;
  top: 27px;
  right: 0;
  margin: 0;
  cursor: pointer;
  display: none;
  z-index: 5;
  background-color: #f2f2f2;
  overflow: hidden;
}

.dropdownOption li {
  padding: 5px 6px;
  display: flex;
  align-items: center;
  list-style: none;
}

.dropdownOption li:hover:not(.current) {
  color: grey;
}

.current {
  background-color: #5A61ED;
}

/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article>*+* {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  font-family: WorkSans, sans-serif;
  background: #F2F2F2;
}

.content {
  display: flex;
  align-items: center;
  width: 802px;
  height: 582px;
  vertical-align: middle;
  margin: auto;
}

.container {
  position: relative;
  margin-top: 9rem;
  display: flex;
  width: 100%;
  height: 100%;
}

.sign-block-hide {
  display: none;
  position: relative;
}

.open {
  display: block;
}

.sign-block-1 {
  width: 21%;
  position: relative;
  display: flex;
  background-color: #5A61ED;
}

.sign-block-1 h2 {
  width: max-content;
  position: absolute;
  height: fit-content;
  font-family: PTSans;
  bottom: 79px;
  left: 24px;
  font-size: 60px;
  transform: rotate(-90deg);
  color: #fff;
  margin: 0 0 0 auto;
}

.sign-block-2 {
  display: block;
  position: relative;
  width: 79%;
  padding: 46px 22px;
  color: #111111;
}

.delete {
  display: none;
}

.sign-thank {
  padding-top: 217px;
  padding-left: 63px;
}

.sign-block-hide .form-footer {
  left: 20px;
  bottom: 53px;
}

.sign-block-hide .form-footer .send-form {
  display: none;
}

.sign-thank h4 {
  font-size: 25px;
  font-weight: 600;
}

.sign-thank p {
  font-size: 14px;
}

.sign-block-2 h3 {
  margin: 0;
  font-size: 25px;
}

.sign-block-2 span {
  font-size: 14px;
}

.sign-block-2 p {
  line-height: 10px;
  margin-bottom: 27px;
}

.sign-block-2 input,
.sign-block-2 option,
.sign-block-2 select {
  font-size: 16px;
}

.sign-block-2 input,
.select-wrapper {
  padding: 3px 0;
  border-bottom: 1px solid #e2e2e2;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  background: #F2F2F2;
}

.form-content {
  display: flex;
  flex-wrap: wrap;
}

.name-block,
.nationality-block,
.date-block,
.password-block {
  margin-right: 24px;
}

.block {
  width: 47%;
  display: flex;
  flex-direction: column;
  margin-bottom: 17px;
  position: relative;
}

.radio {
  display: flex;
}

.check__input {
  position: absolute;
  left: -99999999px;
}

.check__label {
  vertical-align: middle;
}

.check__label::before {
  content: "";
  display: inline-block;
  width: 1.2em;
  height: 1.2em;
  padding-bottom: 0.05em;
  font-size: 0.7em;
  border: 1px solid #5A61ED;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 0.6em;
  text-align: center;
  position: relative;
  top: -0.2em;
}

.check__input:checked+.check__label::before {
  content: "";
  background-image: url("../img/blue.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 80%;
}

.male-block {
  margin-right: 28px;
}

.form-footer {
  align-items: center;
  position: absolute;
  bottom: 37px;
  display: flex;
  width: 100%;
}

.send-form {
  font-family: "PTSans";
  position: relative;
  padding: 7px 31px;
  right: 46px;
  font-size: 17px;
  border: 1px solid #5A61ED;
  background-color: #5A61ED;
  color: #fff;
  margin-left: auto;
  cursor: pointer;
}

.form-footer p {
  display: flex;
  font-size: 15px;
  margin-right: 10px;
  margin-bottom: 0;
}

.form-footer p a {
  display: block;
  margin-left: 5px;
  color: #5A61ED;
}

.block {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: relative;
}

.block {
  top: -100rem;
}

.animate-btn {
  animation: 1.2s ease-in-out 0s normal none running cycle;
}

@-webkit-keyframes cycle {
  35% {-webkit-transform: rotate(0) translate(0, 0);transform: rotate(0) translate(0, 0);}
  40% {-webkit-transform: rotate(5deg) translate(0, -2px);transform: rotate(5deg) translate(0, -2px);}
  45% {-webkit-transform: rotate(-3deg) translate(0, -2px);transform: rotate(-3deg) translate(0, -2px);}
  50% {-webkit-transform: rotate(5deg) translate(0, -2px);transform: rotate(5deg) translate(0, -2px);}
  55% {-webkit-transform: rotate(-3deg) translate(0, -2px);transform: rotate(-3deg) translate(0, -2px);}
  60% {-webkit-transform: rotate(5deg) translate(0, -2px);transform: rotate(5deg) translate(0, -2px);}
  65% {-webkit-transform: rotate(-3deg) translate(0, -2px);transform: rotate(-3deg) translate(0, -2px);}
  70% {-webkit-transform: rotate(0) translate(0, 0);transform: rotate(0) translate(0, 0);}
}
@keyframes cycle {
  35% {-webkit-transform: rotate(0) translate(0, 0);transform: rotate(0) translate(0, 0);}
  40% {-webkit-transform: rotate(5deg) translate(0, -2px);transform: rotate(5deg) translate(0, -2px);}
  45% {-webkit-transform: rotate(-3deg) translate(0, -2px);transform: rotate(-3deg) translate(0, -2px);}
  50% {-webkit-transform: rotate(5deg) translate(0, -2px);transform: rotate(5deg) translate(0, -2px);}
  55% {-webkit-transform: rotate(-3deg) translate(0, -2px);transform: rotate(-3deg) translate(0, -2px);}
  60% {-webkit-transform: rotate(5deg) translate(0, -2px);transform: rotate(5deg) translate(0, -2px);}
  65% {-webkit-transform: rotate(-3deg) translate(0, -2px);transform: rotate(-3deg) translate(0, -2px);}
  70% {-webkit-transform: rotate(0) translate(0, 0);transform: rotate(0) translate(0, 0);}
}

@media (max-width: 990px) {
  .content {
    width: auto;
    height: auto;
  }

  .container {
    margin-top: 0;
    flex-direction: column;
  }

  .sign-block-1 {
    width: 100%;
  }

  .sign-block-1 h2 {
    position: unset;
    left: 0;
    bottom: 0;
    transform: unset;
    margin: 0 0 0 20px;
  }

  .form-content {
    flex-direction: column;
  }

  .form-footer {
    margin-top: 20px;
    flex-direction: column;
    position: unset;
  }

  .form-footer p {
    margin-bottom: 20px;
  }

  .sign-block-2 input,
  .select-wrapper {
    width: 100%;
  }

  .block,
  .sign-block-2 {
    width: 100%;
  }

  .sign-block-2 h3 {
    font-size: 38px;
  }

  .select-wrapper2,
  .select-wrapper3,
  .select-wrapper4 {
    margin-right: 50px;
  }

  .select-wrapper2 .dropdown.active+.dropdownOption,
  .select-wrapper3 .dropdown.active+.dropdownOption,
  .select-wrapper4 .dropdown.active+.dropdownOption {
    width: 422px;
  }

  .holder,
  .dropdownOption li {
    font-size: 21px;
  }

  .radio {
    margin-top: 15px;
  }

  .select-wrapper3 {
    width: 155px;
  }

  .sign-block-2 span {
    font-size: 24px;
  }

  .select-wrapper,
  .select-wrapper2,
  .select-wrapper3,
  .select-wrapper4 {
    margin-top: 14px;
  }

  .sign-block-2 p {
    font-size: 22px;
  }

  .select-wrapper,
  .dropdownOption li,
  .select-wrapper2 .dropdownOption li,
  .select-wrapper3 .dropdownOption li,
  .select-wrapper4 .dropdownOption li {
    height: 50px;
  }

  .sign-block-2 input,
  .sign-block-2 option,
  .sign-block-2 select {
    font-size: 24px;
  }

  .check__label {
    font-size: 22px;
  }

  .send-form {
    font-size: 26px;
    right: 0;
    margin-left: 0;
  }

  .sign-thank h4 {
    font-size: 55px;
  }

  .sign-thank p {
    font-size: 33px;
  }

  .sign-block-hide .form-footer p {
    display: flex;
    font-size: 29px;
  }

  .sign-block-hide .form-footer {
    margin-top: 180px;
  }
}

@media (max-width: 600px) {
  .sign-block-2 p {
    line-height: 30px;
  }

  .dropdown:after {
    width: 14px;
    height: 6px;
    right: -7px;
    top: 10px;
  }

  .selects {
    flex-direction: column;
  }

  .select-wrapper2,
  .select-wrapper3,
  .select-wrapper4 {
    margin-right: 0;
    height: 50px;
    width: 100%;
  }

  .block {
    margin-bottom: 40px;
  }
}